
<launch>
  <param name="steering_transmission_ratio" type="double" value="8"/>
  <param name="drive_transmission_ratio" type="double" value="3" />
  
  <arg name="model" />
  <arg name="use_tf_static" default="false"/> 


  <param
    name="robot_description"
    textfile="$(find test_rover_V1)/urdf/test_rover_V2_gazebo.urdf" 
    />
  
<!-- GUI Command -->
  <node name="joint_state_publisher_gui" 
  pkg="joint_state_publisher_gui" 
  type="joint_state_publisher_gui">
  </node>
  
  
  <!-- GUI Command -->
 <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
          <param name="use_tf_static" value="$(arg use_tf_static)"/>
 </node>
  <!-- Show in Rviz -->
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find test_rover_V1)/urdf.rviz"
    required="true"
 />
</launch>
