<launch>
<!--	<rosparam file="$(find RMC_1_hardware_interface)/config/controllers_new.yaml" command="load"/>-->
	
	<arg name="use_tf_static" default="false"/> 
        <arg name="debug" default="false" />
        <arg name="gui" default="true" />
        <arg name="pause" default="true" />
        <arg name="world" default="$(find test_rover_V1)/worlds/pista.world" />
 	
 	
  <param name="robot_description" textfile="$(find test_rover_V1)/urdf/simple_wheelchair.urdf"/>

  <!-- Show in Rviz -->
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find test_rover_V1)/simple_urdf.rviz"
    required="true"
 />

  <!-- GUI Command -->
 <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
          <param name="use_tf_static" value="$(arg use_tf_static)"/>
 </node>
        <!-- include gazebo_ros launcher -->
      <include file="$(find gazebo_ros)/launch/empty_world.launch">
                <arg name="world_name" value="$(arg world)" />
                <arg name="debug" value="$(arg debug)" />
                <arg name="gui" value="$(arg gui)" />
                <arg name="paused" value="$(arg pause)" />
                <arg name="use_sim_time" value="false" />
        </include>

<node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -model simple_wheelchair -urdf  -x 0 -y 0 -z 1"
      respawn="false" output="screen" /> 


<!--	<node name="RMC_1_hardware_interface" pkg="RMC_1_hardware_interface" type="RMC_1_hardware_interface_node" output="screen" /> -->
<!--	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/" 
	args="
		/ROBOT/controller/state
		/ROBOT/controller/position/steer_joint_1
		/ROBOT/controller/velocity/wheel_joint_1
		/ROBOT/controller/position/steer_joint_2
		/ROBOT/controller/velocity/wheel_joint_2
		/ROBOT/controller/position/steer_joint_3
		/ROBOT/controller/velocity/wheel_joint_3
		/ROBOT/controller/position/steer_joint_4
		/ROBOT/controller/velocity/wheel_joint_4"
		/> -->
	 <!-- joy node -->
<!--    <node respawn="true" pkg="joy"
        type="joy_node" name="rover_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.08" />-->
   <!-- <param name="autorepeat_rate" value="20" /> --> 
<!--  </node> -->


 <!-- Axes -->
<!--  <param name="axis_linear" value="1" type="int"/>
  <param name="axis_angular" value="0" type="int"/>
  <param name="scale_linear" value="2" type="double"/>
  <param name="scale_angular" value="2" type="double"/>
  <node pkg="learning_joy" type="rover_teleop_joy_fourwheel.py" name="teleop_rover"/> -->
</launch>
