<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="new_wheelchair">

<xacro:macro name="box_def" params=" name origin_xyz lenght breadth height mass parent_name joint_type joint_origin" >
 
 
  <joint name="${parent_name}_to_${name}" type="${joint_type}">
    <parent link="${parent_name}"/>
    <child link="${name}"/>
    <origin xyz="${joint_origin}"/>
  </joint>  
  
<xacro:if value="${joint_type == 'fixed'}">
  <gazebo reference="${parent_name}_to_${name}">
  <disableFixedJointLumping>true</disableFixedJointLumping> 
  <preserveFixedJoint>true</preserveFixedJoint>
</gazebo>
</xacro:if>
 
<link name="${name}">
    
     <collision name="collision_${name}">
      <origin xyz="${origin_xyz}" />
      <geometry> 
      <box size="${lenght} ${breadth} ${height}" /> 
      </geometry>
    </collision>
    
      <visual name="visual_${name}">
      <origin
        xyz="${origin_xyz}"
        rpy="0 0 0" />
      <geometry>
      <box size="${lenght} ${breadth} ${height}" />
      </geometry>
    </visual>  
    
    
    <inertial>
      <origin xyz="${origin_xyz}" />
      <mass
        value="${mass}" />
    <inertia
        ixx="${mass * (breadth*breadth + height*height) / 12}"
        ixy="0.0"
        ixz="0.0"
        iyy="${mass * (lenght*lenght + height*height) / 12}"
        iyz="0.0"
        izz="${mass * (breadth*breadth + lenght*lenght) / 12}" />
    </inertial>
    </link>
    




</xacro:macro>
</robot>
