<?xml version="1.0" encoding="utf-8"?>
<robot  xmlns:xacro="http://www.ros.org/wiki/xacro" name="new_wheelchair">
  
  
  
  <xacro:include filename="$(find test_rover_V1)/urdf/box.xacro" />
  <xacro:include filename="$(find test_rover_V1)/urdf/zyl.xacro" />
  <xacro:include filename="$(find test_rover_V1)/urdf/steering_module.xacro" />
 
 
 <link    name="base_link"/>
 
  
 <link    name="base_footprint">
  	    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass
        value="0.0001" />
    <inertia
        ixx="0.0001"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0001"
        iyz="0.0"
        izz="0.0001" />
    </inertial>
    </link>



    
  <joint    name="footprint_joint"    type="fixed">
    <origin      xyz="0 0 0.01"      rpy="0 0 0" />
    <parent      link="base_link" />
    <child       link="base_footprint" />
  </joint>
   
 <joint    name="base_joint"    type="fixed">
    <origin      xyz="0 0 0"      rpy="0 0 0" />
    <parent      link="base_footprint" />
    <child       link="chassis_link" />
   </joint>


   
  
<xacro:box_def name="chassis_link" origin_xyz="0 0 0.015" lenght="0.8" breadth="0.8" height="0.03" mass="20" parent_name="base_footprint" joint_type="fixed" joint_origin="0 0 0.01" />   
 
 <xacro:box_def name="chair" origin_xyz="0 0 0.2" lenght="0.5" breadth="0.5" height="0.45" mass="50" parent_name="chassis_link" joint_type="fixed" joint_origin="0 0 0.015" />
 
 <xacro:box_def name="armrest_left" origin_xyz="0 0 0.3" lenght="0.6" breadth="0.05" height="0.6" mass="1" parent_name="chassis_link" joint_type="fixed" joint_origin="0 0.12 0.015" />      
 
 <xacro:box_def name="armrest_right" origin_xyz="0 0 0.3" lenght="0.6" breadth="0.05" height="0.6" mass="1" parent_name="chassis_link" joint_type="fixed" joint_origin="0 -0.12 0.015" />  
  
  <xacro:box_def name="backrest_right" origin_xyz="0 0 0.45" lenght="0.05" breadth="0.5" height="0.9" mass="2" parent_name="chassis_link" joint_type="fixed" joint_origin="-0.12 0 0.015" /> 
  
  <xacro:steering_module name="smoduleone" prefix="3" parent_name="chassis_link" joint_origin="0.35 0.35 0" />
  
    <xacro:steering_module name="smoduletwo" prefix="2" parent_name="chassis_link" joint_origin="-0.35 0.35 0" />
    
      <xacro:steering_module name="smodulethree" prefix="4" parent_name="chassis_link" joint_origin="0.35 -0.35 0" />
      
        <xacro:steering_module name="smodulefour" prefix="1" parent_name="chassis_link" joint_origin="-0.35 -0.35 0" />
  
  
  
<!-- Camera -->
   <joint name="camera_joint" type="fixed">
    <axis xyz="0 0 1" />
    <origin xyz="0.15 0 0.35" rpy="0 0.2 0"/>
    <parent link="chassis_link"/>
    <child link="camera_link"/>
    </joint>



  <link name="camera_link">
    <collision name="camera_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual name="camera_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
   

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
    </link>
      



  
    <!-- camera -->
  <gazebo reference="camera_link">
    <sensor type="camera" name="camera1">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
         <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>30.0</updateRate>
        <cameraName>camera1</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>  
  
    <gazebo reference="camera_link">
    <material>Gazebo/Black</material>
    </gazebo>

   
   <gazebo>
    <plugin name="ground_truth" filename="libgazebo_ros_p3d.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>50.0</updateRate>
      <gaussianNoise>0.01</gaussianNoise>
      <bodyName>base_link</bodyName>
      <topicName>odomw</topicName>
    </plugin>
  </gazebo>

  
   <!-- Gazebo plugin for ROS Control -->
   <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
          </plugin>
 	 </gazebo>
</robot>
  
