<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="test_rover_fourwheel_gazebo">
  
    <link name="base_link" />

  <joint name="base_link_to_chassis" type="fixed">
    <parent link="base_link"/>
    <child link="chassis_link"/>
  </joint>
  
  <link
    name="chassis_link">
    <inertial>
      <origin
        xyz="0 0 0.052818"
        rpy="0 0 0" />
      <mass
        value="2.059" />
      <inertia
        ixx="0.0083721"
        ixy="-3.336E-07"
        ixz="-4.8663E-06"
        iyy="0.010822"
        iyz="-7.9312E-11"
        izz="0.018653" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.052818"
        rpy="0 0 0" />
      <geometry>
       	<box size="0.4 0.4 0.03" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_rover_V1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  
  
  
  
      <gazebo reference="chassis_link">
      <mu1 value="200.0"/>
      <mu2 value="100.0"/>
      <kp value="10000000.0" />
      <kd value="1.0" />
      <material>Gazebo/Grey</material>
    </gazebo>
  
 
 <!--<xacro:swerve_steer prefix="1" origin_xyz="0.2 0.2 -0.087123" joint_origin_xyz="0.2 0.2 0.08" /> -->
 
 <link
    name="steer_body_1">
    <inertial>
      <origin
      	xyz="0.2 0.2 -0.087123"
        rpy="0 0 0" />
      <mass
        value="0.12388" />
      <inertia
        ixx="0.00025982"
        ixy="1.5851E-20"
        ixz="7.5308E-21"
        iyy="0.00018208"
        iyz="4.4695E-20"
        izz="1.00014529" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_rover_V1/meshes/steer_body_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_rover_V1/meshes/steer_body_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="steer_joint_1"
    type="continuous">
    <origin
      xyz="0.2 0.2 0.08"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="steer_body_1" />
    <axis
      xyz="0 0 1" />
  </joint>
  <transmission name="steer_joint_1_transmission">
	  <type>transmission_interface/SimpleTransmission</type>
	  <actuator name="motor_1">
		  <mechanicalReduction>0.2</mechanicalReduction>
	  </actuator>
	  <joint name="steer_joint_1">
		  <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
	  </joint>
</transmission>
  <link
    name="wheel_1">
    <inertial>
      <origin
        xyz="0 -6.9388E-18 0"
        rpy="0 0 0" />
      <mass
        value="0.19795" />
      <inertia
        ixx="0.00026531"
        ixy="-1.5846E-20"
        ixz="-2.0037E-20"
        iyy="0.0001433"
        iyz="1.3553E-20"
        izz="1.0001433" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_rover_V1/meshes/wheel_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_rover_V1/meshes/wheel_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_joint_1"
    type="continuous">
    <origin
      xyz="0 0 -0.127"
      rpy="1.6642 0 -1.5708" />
    <parent
      link="steer_body_1" />
    <child
      link="wheel_1" />
    <axis
      xyz="1 0 0" />
  </joint>
  
    <!-- This block connects the head_swivel joint to an actuator (motor), which informs both
  simulation and visualization of the robot -->
  <transmission name="wheel_joint_1">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="wheel_motor_1">
      <mechanicalReduction>100</mechanicalReduction>
    </actuator>
    <joint name="wheel_joint_1">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>
      
      <gazebo reference="wheel_1">
      <mu1 value="200.0"/>
      <mu2 value="100.0"/>
      <kp value="10000000.0" />
      <kd value="1.0" />
      <material>Gazebo/Grey</material>
    </gazebo>
 
 <!--<xacro:swerve_steer prefix="2" origin_xyz="0.2 -0.2 -0.087123" joint_origin_xyz="0.2 -0.2 0.08" />-->
 
  <link
    name="steer_body_2">
    <inertial>
      <origin
      	xyz="0.2 -0.2 -0.087123"
        rpy="0 0 0" />
      <mass
        value="0.12388" />
      <inertia
        ixx="0.00025982"
        ixy="1.5851E-20"
        ixz="7.5308E-21"
        iyy="0.00018208"
        iyz="4.4695E-20"
        izz="1.00014529" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_rover_V1/meshes/steer_body_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_rover_V1/meshes/steer_body_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="steer_joint_2"
    type="continuous">
    <origin
      xyz="0.2 -0.2 0.08"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="steer_body_2" />
    <axis
      xyz="0 0 1" />
  </joint>
  <transmission name="steer_joint_2_transmission">
	  <type>transmission_interface/SimpleTransmission</type>
	  <actuator name="motor_2">
		  <mechanicalReduction>0.2</mechanicalReduction>
	  </actuator>
	  <joint name="steer_joint_2">
		  <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
	  </joint>
</transmission>
  <link
    name="wheel_2">
    <inertial>
      <origin
        xyz="0 -6.9388E-18 0"
        rpy="0 0 0" />
      <mass
        value="0.19795" />
      <inertia
        ixx="0.00026531"
        ixy="-1.5846E-20"
        ixz="-2.0037E-20"
        iyy="0.0001433"
        iyz="1.3553E-20"
        izz="1.0001433" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_rover_V1/meshes/wheel_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_rover_V1/meshes/wheel_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_joint_2"
    type="continuous">
    <origin
      xyz="0 0 -0.127"
      rpy="1.6642 0 -1.5708" />
    <parent
      link="steer_body_2" />
    <child
      link="wheel_2" />
    <axis
      xyz="1 0 0" />
  </joint>
  
    <!-- This block connects the head_swivel joint to an actuator (motor), which informs both
  simulation and visualization of the robot -->
  <transmission name="wheel_joint_2">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="wheel_motor_2">
      <mechanicalReduction>100</mechanicalReduction>
    </actuator>
    <joint name="wheel_joint_2">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>
      
      <gazebo reference="wheel_2">
      <mu1 value="200.0"/>
      <mu2 value="100.0"/>
      <kp value="10000000.0" />
      <kd value="1.0" />
      <material>Gazebo/Grey</material>
    </gazebo>
 
 
 <!--<xacro:swerve_steer prefix="3" origin_xyz="-0.2 0.2 -0.087123" joint_origin_xyz="-0.2 0.2 0.08" />-->
 
   <link
    name="steer_body_3">
    <inertial>
      <origin
      	xyz="-0.2 0.2 -0.087123"
        rpy="0 0 0" />
      <mass
        value="0.12388" />
      <inertia
        ixx="0.00025982"
        ixy="1.5851E-20"
        ixz="7.5308E-21"
        iyy="0.00018208"
        iyz="4.4695E-20"
        izz="1.00014529" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_rover_V1/meshes/steer_body_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_rover_V1/meshes/steer_body_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="steer_joint_3"
    type="continuous">
    <origin
      xyz="-0.2 0.2 0.08"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="steer_body_3" />
    <axis
      xyz="0 0 1" />
  </joint>
  <transmission name="steer_joint_3_transmission">
	  <type>transmission_interface/SimpleTransmission</type>
	  <actuator name="motor_3">
		  <mechanicalReduction>0.2</mechanicalReduction>
	  </actuator>
	  <joint name="steer_joint_3">
		  <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
	  </joint>
</transmission>
  <link
    name="wheel_3">
    <inertial>
      <origin
        xyz="0 -6.9388E-18 0"
        rpy="0 0 0" />
      <mass
        value="0.19795" />
      <inertia
        ixx="0.00026531"
        ixy="-1.5846E-20"
        ixz="-2.0037E-20"
        iyy="0.0001433"
        iyz="1.3553E-20"
        izz="1.0001433" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_rover_V1/meshes/wheel_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_rover_V1/meshes/wheel_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_joint_3"
    type="continuous">
    <origin
      xyz="0 0 -0.127"
      rpy="1.6642 0 -1.5708" />
    <parent
      link="steer_body_3" />
    <child
      link="wheel_3" />
    <axis
      xyz="1 0 0" />
  </joint>
  
    <!-- This block connects the head_swivel joint to an actuator (motor), which informs both
  simulation and visualization of the robot -->
  <transmission name="wheel_joint_3">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="wheel_motor_3">
      <mechanicalReduction>100</mechanicalReduction>
    </actuator>
    <joint name="wheel_joint_3">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>
      
      <gazebo reference="wheel_3">
      <mu1 value="200.0"/>
      <mu2 value="100.0"/>
      <kp value="10000000.0" />
      <kd value="1.0" />
      <material>Gazebo/Grey</material>
    </gazebo>
 
 
 
 
 
 
 
 
 
 <!--<xacro:swerve_steer prefix="4" origin_xyz="-0.2 -0.2 -0.087123" joint_origin_xyz="-0.2 -0.2 0.08" /> -->
  
  
 
   <link
    name="steer_body_4">
    <inertial>
      <origin
      	xyz="-0.2 -0.2 -0.087123"
        rpy="0 0 0" />
      <mass
        value="0.12388" />
      <inertia
        ixx="0.00025982"
        ixy="1.5851E-20"
        ixz="7.5308E-21"
        iyy="0.00018208"
        iyz="4.4695E-20"
        izz="1.00014529" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_rover_V1/meshes/steer_body_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_rover_V1/meshes/steer_body_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="steer_joint_4"
    type="continuous">
    <origin
      xyz="-0.2 -0.2 0.08"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="steer_body_4" />
    <axis
      xyz="0 0 1" />
  </joint>
  <transmission name="steer_joint_4_transmission">
	  <type>transmission_interface/SimpleTransmission</type>
	  <actuator name="motor_4">
		  <mechanicalReduction>0.2</mechanicalReduction>
	  </actuator>
	  <joint name="steer_joint_4">
		  <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
	  </joint>
</transmission>
  <link
    name="wheel_4">
    <inertial>
      <origin
        xyz="0 -6.9388E-18 0"
        rpy="0 0 0" />
      <mass
        value="0.19795" />
      <inertia
        ixx="0.00026531"
        ixy="-1.5846E-20"
        ixz="-2.0037E-20"
        iyy="0.0001433"
        iyz="1.3553E-20"
        izz="1.0001433" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_rover_V1/meshes/wheel_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_rover_V1/meshes/wheel_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_joint_4"
    type="continuous">
    <origin
      xyz="0 0 -0.127"
      rpy="1.6642 0 -1.5708" />
    <parent
      link="steer_body_4" />
    <child
      link="wheel_4" />
    <axis
      xyz="1 0 0" />
  </joint>
  
    <!-- This block connects the head_swivel joint to an actuator (motor), which informs both
  simulation and visualization of the robot -->
  <transmission name="wheel_joint_4">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="wheel_motor_4">
      <mechanicalReduction>100</mechanicalReduction>
    </actuator>
    <joint name="wheel_joint_4">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>
      
      <gazebo reference="wheel_4">
      <mu1 value="200.0"/>
      <mu2 value="100.0"/>
      <kp value="10000000.0" />
      <kd value="1.0" />
      <material>Gazebo/Grey</material>
    </gazebo>
  
 <!-- Gazebo plugin for ROS Control -->
   <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>
</robot>
