<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="new_wheelchair">

<xacro:macro name="box_def" params=" name_box origin_xyz lenght breadth height mass parent_name joint_type joint_origin" >
 
 
  <joint name="${parent_name}_to_${name_box}" type="${joint_type}">
    <parent link="${parent_name}"/>
    <child link="${name_box}"/>
    <origin xyz="${joint_origin}"/>
    <dynamics damping="0.7"/>
  </joint>  

 
<link name="${name_box}">
    
     <collision>
      <origin xyz="${origin_xyz}" rpy="0 0 0"/>
      <geometry> 
      <box size="${lenght} ${breadth} ${height}" /> 
      </geometry>
    </collision>
    
      <visual>
      <origin
        xyz="${origin_xyz}"
        rpy="0 0 0" />
      <geometry>
      <box size="${lenght} ${breadth} ${height}" />
      </geometry>
    </visual>  
    
    
    <inertial>
      <origin xyz="${origin_xyz}" rpy="0 0 0"/>
      <mass
        value="${mass}" />
    <inertia
        ixx="${mass * (breadth*breadth + height*height) / 12}"
        ixy="0.0"
        ixz="0.0"
        iyy="${mass * (lenght*lenght + height*height) / 12}"
        iyz="0.0"
        izz="${mass * (breadth*breadth + lenght*lenght) / 12}" />
    </inertial>
    </link>
    

         <gazebo reference="${name_box}">
      <material>Gazebo/Grey</material>
    </gazebo>  
    


</xacro:macro>
</robot>
