<?xml version="1.0" encoding="utf-8"?>
<robot  xmlns:xacro="http://www.ros.org/wiki/xacro" name="new_wheelchair">
  
  
  
  <xacro:include filename="$(find test_rover_V1)/urdf/new_wheelchair_xacro/box.xacro" />
  <xacro:include filename="$(find test_rover_V1)/urdf/new_wheelchair_xacro/zyl.xacro" />
  
  
<xacro:macro name="steering_module" params=" name prefix parent_name joint_origin" >

  
 <xacro:zyl_def name_zyl="${name}_fork_up_${prefix}" origin_xyz="0 0 -0.04" origin_orientation="0 0 0" radius="0.02" lenght="0.08" mass="0.2" parent_name="${parent_name}" joint_name="steer_joint_${prefix}" joint_type="continuous" joint_origin="${joint_origin}" joint_orientation="0 0 0" lim_eff="10" lim_vel="5"/>
 
<transmission name="${name}_steer_joint_${prefix}_transmission">
	  <type>transmission_interface/SimpleTransmission</type>
	  <actuator name="${name}_motor_${prefix}">
		  <mechanicalReduction>1</mechanicalReduction>
	  </actuator>
	  <joint name="${name}_steer_joint_${prefix}">
		  <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
	  </joint>
  </transmission>


 <xacro:box_def name_box="${name}_support_${prefix}" origin_xyz="0 0 0" lenght="0.04" breadth="0.15" height="0.02" mass="0.2" parent_name="${name}_fork_up_${prefix}" joint_type="fixed" joint_origin="0 0 -0.04" />
 
 <xacro:box_def name_box="${name}_fork_left_${prefix}" origin_xyz="0 0 -0.075" lenght="0.05" breadth="0.02" height="0.15" mass="0.1" parent_name="{name}_support_${prefix}" joint_type="fixed" joint_origin="0 0.035 -0.005" />
 
 <xacro:box_def name_box="${name}_fork_right_${prefix}" origin_xyz="0 0 -0.075" lenght="0.05" breadth="0.02" height="0.15" mass="0.1" parent_name="{name}_support_${prefix}" joint_type="fixed" joint_origin="0 -0.035 -0.005" />            
 <!-- <xacro:zyl_def name="wheel_axis_${prefix}" origin_xyz="0 0 0" origin_orientation="0 0 0" radius="0.01" lenght="0.125" mass="0.5" parent_name="fork_left_${prefix}" joint_name="wheel_axis_joint_${prefix}" joint_type="fixed" joint_origin="0 -0.075 -0.045" joint_orientation="-1.57 0 0" /> 
  -->
  <xacro:zyl_def name_zyl="{name}_wheel_${prefix}" origin_xyz="0 0 0" origin_orientation="0 0 0" radius="0.1" lenght="0.08" mass="5.5" parent_name="${name}_fork_left_${prefix}" joint_name="wheel_joint_${prefix}" joint_type="continuous" joint_origin="0 -0.075 -0.125" joint_orientation="-1.57 0 0" lim_eff="20" lim_vel="45"/> 
      <!-- This block connects the head_swivel joint to an actuator (motor), which informs both
  simulation and visualization of the robot -->
  <transmission name="{name}_wheel_joint_${prefix}">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="{name}_wheel_motor_${prefix}">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="{name}_wheel_joint_${prefix}">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>
 

    

</xacro:macro>  
</robot>
  
