<launch>
<rosparam file="$(find swerve_steering_controller)/test/config/ros_controllers_mod.yaml" command="load"/>


	<node name="RMC_1_hardware_interface" pkg="RMC_1_hardware_interface" type="RMC_1_hardware_interface_node" output="screen" />
<node name="tfpublisher" pkg="swerve_steering_controller" type="odompublisher.py"/>

<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
  output="screen" args="swerve_steering_controller joint_state_controller"/>
	 <!-- joy node -->
    <node respawn="true" pkg="joy"
        type="joy_node" name="rover_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.06" />
  </node>


 <!-- Axes -->
  <param name="axis_linear" value="1" type="int"/>
  <param name="axis_angular" value="0" type="int"/>
  <param name="scale_linear" value="2" type="double"/>
  <param name="scale_angular" value="2" type="double"/>
  <node pkg="learning_joy" type="rover_teleop_joy_fourwheel_swerve_controller.py" name="teleop_rover_swerve_steering_controller"/>
</launch>
